@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Light.ttf');
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	font-family: "Montserrat";
	text-shadow: 0 0 1px rgba(255,255,255,0.4);
}

body {
	background-color: #E8EAF6;
}

.wrap {
	padding-top: 6em;
	height: auto;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	background-color: #5C6BC0;
	padding: 0 10%;
	color: white;
}

header nav {
	position: absolute;
	top: 0;
	right: 10%;
	height: 5.1em;
}

header nav {
	height: 100%;
}

header nav a {
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
	float: left;
	line-height: 4.9em;
	padding: 0 1em;
	font-size: 1.1em;
}

header nav a:hover {
	background-color: #3F51B5;
}

.nav-highlight {
	background-color: #1A237E;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #5C6BC0;
	width: 80%;
	color: white;
	padding: 0 10%;
}

footer p {
	text-align: center;
}

h2 {
	text-align: center;
	padding: 1em 0;
	margin: 0;
}
